<template>
  <div>
    <md-field>
      <label>Encode URL</label>
      <md-input name="url" v-model="url" :required="true"></md-input>
      <md-button @click.native="encodeURL" class="raised md-primary">Encode</md-button>
    </md-field>
  </div>
</template>

<script>
export default {
  name: 'Encoder',
  data() {
    return {
      url: '',
    };
  },
  methods: {
    encodeURL: () => {
      fetch('http://localhost/v1/encode', {
        method: 'POST',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
        },
        mode: 'cors',
        body: JSON.stringify({ url: 'dummy' }),
      })
        .then((response) => response.json())
        .then((response) => console.log(response));
    },
  },
};
</script>
