<template>
<div class="page-container">
    <md-app md-mode="reveal">
      <md-app-toolbar class="md-primary">
        <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
          <md-icon>menu</md-icon>
        </md-button>
        <span class="md-title">Qurl</span>
      </md-app-toolbar>

      <md-app-drawer :md-active.sync="menuVisible">
        <md-list>
          <md-list-item>
            <md-icon>build</md-icon>
            <span class="md-list-item-text"><a href="#">Encode a new link to QRCode</a></span>
          </md-list-item>

          <md-list-item>
            <md-icon>info</md-icon>
            <span class="md-list-item-text"><a href="#">About Qurl</a></span>
          </md-list-item>
        </md-list>
      </md-app-drawer>

      <md-app-content>
        <Encoder/>
      </md-app-content>

    </md-app>
  </div>
</template>

<script>
import Encoder from './components/Encoder.vue';

export default {
  name: 'App',
  data: () => ({
    menuVisible: false,
  }),
  methods: {
    hello: () => {
      console.log('hello');
    },
  },
  components: {
    Encoder,
  },
};
</script>
